# SQLite3的Python API 
### * Python SQLite 是一個內建於 Python 標準函式庫中的輕量級資料庫管理系統
### * SQLite 資料庫可是一個簡單的檔案
### * SQLite 是 Python 標準函式庫的一部分，無需安裝任何額外的套件
### * SQLite 適用於中小型應用程式，以及用於測試和原型開發

Jupyter Notebook 基於控制台的方式 (Console-based) ，延伸到一個可互動式計算，提供一個基於網頁式 (Web-based) 的方式來處理整個計算過程，包括開發、編輯、文件化及執行程式，並且可立即傳遞結果。

# python處理sqlite資料庫步驟

### 1.導入 python api for sqlite3

In [ ]:
import sqlite3

### 2.建立資料庫檔案 學號.db

In [ ]:
conn = sqlite3.connect(database)
# 檔案不存在則會建立，存在則會連線到現有檔案

### 3.建立遊標物件

* 游標 (cursor) 是一個用於執行 SQL 指令並處理結果的物件（向資料庫發出指令，並取得資料庫的回應）
* 負責執行 SQL 指令，並提供方法擷取和處理資料庫的查詢結果
* 使 Python 程式碼與資料庫進行互動，進行資料的建立、讀取、更新和刪除等操作

### 4.執行SQL 指令

#### cursor.execute() 執行 SQL 指令，例如 CREATE TABLE、INSERT、SELECT、UPDATE 和 DELETE

### 5.提交變更
sql對資料庫產生作用

### 6.關閉資料庫連線

# 資料庫基本運作

### * Create 建立: CREATE TABLE, INSERT
### * Read 讀取: SELECT
### * Update 更新: UPDATE
### * Delete 刪除: DELETE

In [ ]:
#建立資料庫(名稱: 學號.db)
#建立cursor物件

## 建立資料庫與資料

**商品資料表結構**
|項目|資料類別|資料表屬性|
|----|-------|---------|
|商品編號(pNo)| TEXT | 主鍵 |
|商品名稱(pName)| TEXT | not null|
| 單價(unitPrice) | int | |
|類別(category)| TEXT | ('Book', 'CD', 'DVD')|

In [ ]:
#建立商品資料表sql products

In [ ]:
#執行sql建立資料表sql (cursor.execute())

### 開啟sqlite3 學號.db
檢查sqlite3是否已經存在products資料表

## 插入資料
`INSERT INTO products VALUES ('b30999', '資料庫理論與實務',650,'Book')`

In [ ]:
# 利用 cursor.execute() 執行插入資料sql

### 檢查sqlite3資料庫中是否已有「資料庫理論與實務」?
.mode column <br>
SELECT * FROM products;

In [ ]:
#記得要commit

## 利用佔位符執行SQL，避免sql inject 安全

* 在 Python 中使用 SQLite 時，為了安全地將變數值插入到 SQL 指令中，使用佔位符避免 SQL 注入攻擊，也能提升程式碼的可讀性
* 問號 ? 作為佔位符，並將實際的值以元組 (tuple) 的形式傳遞給 execute() 方法
* VALUES (?, ?, ?, ?) 要對應 ('d11222','任賢齊專輯三',400,'CD')，在python中稱為元組(Tuple)

In [ ]:
cursor.execute("INSERT INTO 'products' VALUES (?, ?, ?, ?);", ('d11222','任賢齊專輯三',400,'CD'))

In [ ]:
#記得要commit

### 學習如何批次輸入資料

* 先將要插入的資料組織成Tuple
* 利用清單(List)儲存要輸入的資料
* 藉由佔位符運作批次輸入

In [ ]:
#define list for data

('b20666','OLAP 進階',500,'Book'),
('b10234','管理資訊系統概論',600,'Book'),
('b40555','系統分析理論與實務',550,'Book'),
('d20777','蔡依林專輯二',450,'CD'),
('b10321','MySQL資料庫實務',450,'Book'),
('v01888','哈利波特:混血王子的背叛',600,'DVD'),
('d03333','5566 專輯',450,'CD'),
('b51111','電子商務理論與實務',700,'Book'),
('v00111','英雄',400,'DVD')

In [ ]:
#讀取每一筆tuple

### 批次輸入資料

In [ ]:
# read data write in sql with placeholders

In [ ]:
#記得要commit

### 讀取資料
**SELECT** * \[attributes, ...\] **FROM** products where \[conditions\];

In [ ]:
# 利用 cursor.execute() 執行 SQL

### 在python應用程式中利用`fetchall`, `fetchmany(n)`, `fetchone()` 讀取 SELECT ... FROM 的結果
* fetchone()：擷取下一行結果，如果沒有更多行則返回 None。
* fetchmany(n)：擷取 n 行結果，將結果作為列表返回，如果沒有更多行則返回空列表。
* fetchall()：擷取所有剩餘的行，將結果作為列表返回，如果沒有更多行則返回空列表。

### fetchone\[many, all\]以List方式儲存結果

In [ ]:
#show results from SELECT and fetchmany(3)

In [ ]:
#show results from SELECT and fetchone()

### 擷取 result list 中的資訊
例如，想要獲得「MySQL資料庫實務」商品的價格

In [ ]:
#執行讀取「MySQL資料庫實務」資料sql (using fetchone)

#print out result

#print out unitprice

## 更新資料
UPDATE products<br>
SET unitprice = 700<br>
WHERE pName = 'MySQL資料庫實務'

In [ ]:
# define update_sql

In [ ]:
#執行sql and commit

In [ ]:
#run sql for MySQL資料庫實務

#print out product name and unitprice

## 刪除資料

DELETE FROM products
WHERE pName = 'MySQL資料庫實務'

In [ ]:
# define del_sql

In [ ]:
#執行sql and commit

## 程式結構化

In [ ]:
# define showdataAll function
def showdataAll(conn, tblName):
    with conn:
        cursor = conn.cursor()
        return cursor.execute("SELECT * FROM {} ".format(tblName)).fetchall() #format printing

In [ ]:
#run showdataAll() wiht for loop

In [ ]:
#define addData() function
def addData(connection, data):
    with connection:
        cursor = connection.cursor()
        cursor.execute("insert into products values(?,?,?,?)", (data))

In [ ]:
#demo run addData() ('b10323','台積電風雲',450,'Book')

In [ ]:
#run showdataAll() with for loop

* with conn: 會自動處理資料庫的交易 (transaction) 和資源釋放
* 在執行插入資料的程式碼區塊時，任何 INSERT 或 UPDATE 等變更都會被暫存。
* 如果區塊內沒有例外，當離開 with 區塊時，conn.__exit__() 會自動提交這些變更。
* 如果區塊內發生任何例外，conn.__exit__() 會自動回滾所有未提交的變更，確保資料庫的一致性。

# 課堂練習

## 請執行以下幾件事
1. 建立author資料表
2. 插入所有author資料
3. 將products與author自然合併
4. 列印出「電子商務理論與實務」的作者

### author資料表結構

|項目    | 資料型別     |
|--------|-------------|
|pNo     |  TEXT       |
|name    |  TEXT       |

### author資料

In [ ]:
('b30999','Huang'),
('b10234','Lin'),
('d11222','William'),
('b20666','Sandra'),
('b40555','Wu'),
('d20777','Jolin'),
('v01888','J.K.'),
('b51111','Lai'),
('b51111','Huang'),
('b51111','Lin'),
('d03333','Jackey'),
('d03333','David'),
('d03333','Tom'),
('b40555','Lin')

**建立author資料表**

**插入作者資料**

**執行products與author自然合併**

### 讀取資料，印出「電子商務理論與實務」的作者及單價
### 輸出格式:
商品名稱: 電子商務理論與實務 <br>
商品單價: xxx <br>
商品作者: 作者1, 作者2, \[作者3, ...\] <br>